<%- include("partials/header.ejs") %>

<h2>Select user</h2>

<%# Generates a button for all users %>
<form action="/home" method="post">
    <% users.forEach((user) => { %>
    <button type="submit" name="user" value="<%= user.id %>"> <%= user.username %> </button>
    <% }) %>
    <button type="submit" name="user" value="new"> New User </button>
</form>

<%- include("partials/footer.ejs") %>
