<%- include("partials/header.ejs") %>

</section>

<%# This is rendered when the user decides to update a review %>
<% if (locals.edit) { %>
<% } %>

<%# This is rendered when the user wants to delete a review %>
<% if (locals.del) { %>
<% } %>

<%- include("partials/footer.ejs") %>
