@import url(
    "https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Pacifico&display=swap"
);

* {
    margin: 0;
    padding: 0;
}

/*Background image for all pages*/
#background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
}

/*Header*/
#header {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 5%;
}

.header-title {
    display: flex;
    align-items: center;
    height: 20vh;
    color: #713ABE;
    font-family: "Lemon", serif;
    font-size: 3rem;
}

.header-title > img {
    margin-left: 10px;
    height: 80px;
}

.create-user {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 20vh;
}

.btn { /*This is applied for all the buttons */
    background-color: #5B0888;
    color: #FFF;
    font-family: "Montserrat", serif;
    padding: 15px 35px;
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #713ABE;
}

/*User selection page*/
#user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 20px;
    width: 90%;
    min-height: 75vh;
    max-height: fit-content;
    background-color: #E5CFF7;
    border-radius: 4rem;
}

#user > h2 {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: #5B0888;
    margin-top: 20px;
}

.select-user {
    display: flex;
    flex-direction: column;
}

.user-btn {
    padding: 15px 100px;
    margin: 5px 0;
}

/*My books page (home.ejs)*/
.add-new-book {
    display: flex;
    align-items: center;
    justify-content: end;
}

#my-books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
    margin-bottom: 20px;
    width: 90%;
    min-height: 75vh;
    max-height: fit-content;
    background-color: #E5CFF7;
    border-radius: 4rem;
}

.book {
    margin: 30px;
}

.cover {
    height: 100px;
    width: 75px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.book-info {
    display: flex;
    margin-bottom: 10px;
}

.book-text {
    font-family: "Pacifico", cursive;
    color: #5B0888;
    font-size: 1.2rem;
}

.book-review {
    font-family: "Montserrat", serif;
    font-size: 1.1rem;
    text-align: justify;
}

.book-review > p {
    margin-bottom: 5px;
}

.options {
    display: flex;
    justify-content: end;
    align-items: center;
}

.no-btn {
    margin: 10px 5px;
    background-color: #E5CFF7;
    color: #5B0888;
    border: 0;
    cursor: pointer;
}

#edit:hover {
    color: greenyellow;
}

#del:hover {
    color: red;
}

#no-entries {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 20px;
    width: 90%;
    min-height: 75vh;
    max-height: fit-content;
    background-color: #E5CFF7;
    color: #5B0888;
    border-radius: 4rem;
    font-family: "Pacifico", cursive;
}

#no-entries > h2 {
    font-size: 2rem;
}

#no-entries > h3 {
    font-size: 1.5rem;
}

#book-btn {
    margin-top: 10px;
    border-radius: 15px;
}

/*Create user page (new.ejs)*/
#create-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 20px;
    width: 90%;
    height: 75vh;
    background-color: #E5CFF7;
    border-radius: 4rem;
}

#create-user > h2 {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: #5B0888;
    margin-top: 20px;
}

.new-user {
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
}

.new-user > * {
    margin: 5px 0;
}

input[type=text] {
    width: 280px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
}

.new-user > button {
    margin-top: 20px;
    align-self: center;
}

/*Add book review page (new.ejs)*/
#new-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 20px;
    margin-bottom: 10px;
    width: 90%;
    min-height: 75vh;
    max-height: fit-content;
    background-color: #E5CFF7;
    border-radius: 4rem;
}

#new-book > h2 {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: #5B0888;
    margin-top: 20px;
}

.add-book {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
}

.add-book > * {
    margin: 5px 0;
}

input[type=number],
input[type=date] {
    width: 280px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
}

#opinion {
    border-radius: 10px;
}

.add-btn {
    align-self: center;
}

/*Edit review page (options.ejs)*/
#edit-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 20px;
    margin-bottom: 10px;
    width: 90%;
    min-height: 75vh;
    max-height: fit-content;
    background-color: #E5CFF7;
    border-radius: 4rem;
}

#edit-book > h2 {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: #5B0888;
    margin-top: 20px;
}

.edit-book {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
}

.edit-book > * {
    margin: 5px 0;
}

.selected-book {
    display: flex;
}

.s-cover {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
}

.s-cover > img {
    margin: 10px;
    height: 200px;
    border-radius: 15px;
}

.s-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lemon", sans-serif;
    color: #713ABE;
}

/*Delete review page (options.ejs)*/
#del-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    margin-bottom: 20px;
    width: 90%;
    min-height: 75vh;
    max-height: fit-content;
    background-color: #E5CFF7;
    border-radius: 4rem;
}

#del-review > h2 {
    font-family: "Pacifico", cursive;
    font-size: 1.75rem;
    color: #5B0888;
    margin-top: 20px;
}

.del-review {
    margin-top: 10px;
}

.del-btn {
    font-family: "Montserrat", serif;
    padding: 10px 30px;
    margin-right: 5px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

#delete {
    color: red;
}

#delete:hover {
    color: #FFF;
    background-color: red;
}

#cancel:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

/*Page footer*/
#site-info {
    width: 100%;
    height: 10vh;
    color: #FFF;
    background-color: #5B0888;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
